<h1>{{title}}</h1>
<hr>
<div class="navbar">
  <a routerLink="/greet">Home</a>
  <span>|</span>
  <a routerLink="/bindings">Users</a>
  <span>|</span>
  <a routerLink="/toggle">Conditional Output</a>
  <span>|</span>
  <a routerLink="/pipes">Pipes</a>
  <span>|</span>
  <a routerLink="/blacklist">Blacklist</a>
  <span>|</span>
  <a routerLink="/fbService">Service</a>
  <span>|</span>
  <a routerLink="/http">Http get</a>
  <span>|</span>
  <a routerLink="/jsUsers">User Info</a>
</div>
<!--<app-greet></app-greet>
<app-bindings></app-bindings>-->
<router-outlet></router-outlet>

